body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#container{
    background-color: rgb(red, green, blue);
}



#relogio {
    font-size: 3rem;
    font-weight:bold;
    margin-top: 10px;
}